# SQLite

In [1]:
import sqlite3
con = sqlite3.connect("week3.sqlite", isolation_level=None)
cur = con.cursor()

Data types in SQLite  
https://www.sqlite.org/datatype3.html

In [2]:
cur.execute("""DROP TABLE IF EXISTS movies""")

In [3]:
q = """
CREATE TABLE IF NOT EXISTS movies (
    id INTEGER PRIMARY KEY,
    title TEXT,
    year INTEGER,
    rating FLOAT,
    is_watched BOOLEAN DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
)
"""
cur.execute(q)

In [4]:
# Check if the table is created
res = cur.execute("SELECT name FROM sqlite_master")

In [5]:
res.fetchone()

('movies',)

In [6]:
q = """
INSERT INTO movies (title, year, rating) VALUES (?, ?, ?)
"""

cur.execute(
    q,
    ("The Matrix", 1999, 5.0)
)

# INSERT INTO movies (title, year, rating) VALUES ("The Matrix", 1999, 5.0)

In [7]:
cur.execute(q, ("Forrest Gump", 1994, 3.5))

In [8]:
for row in cur.execute("""SELECT * FROM movies"""):
    print(row)

(1, 'The Matrix', 1999, 5.0, 0, '2024-04-10 00:22:34')
(2, 'Forrest Gump', 1994, 3.5, 0, '2024-04-10 00:22:34')

In [9]:
cur.execute("""SELECT * FROM movies""")
for row in cur:
    print(row)

(1, 'The Matrix', 1999, 5.0, 0, '2024-04-10 00:22:34')
(2, 'Forrest Gump', 1994, 3.5, 0, '2024-04-10 00:22:34')

In [10]:
for row in cur:
    print(row)

In [11]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 5.0),
    ("Monty Python's The Meaning of Life", 1983, 4.5),
    ("Monty Python's Life of Brian", 1979, 3.9),
]
cur.executemany("INSERT INTO movies (title, year, rating) VALUES (?, ?, ?)", data)

In [12]:
for row in cur.execute("SELECT year, title FROM movies ORDER BY year"):
    print(row)

(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")
(1994, 'Forrest Gump')
(1999, 'The Matrix')

# Pandas

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('./title.basics.tsv', sep='\t')

FileNotFoundError: [Errno 2] No such file or directory: './title.basics.tsv'

In [ ]:
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"